@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* A few custom additions */

/* body */
.content-wrapper,
.right-side {
  background-color: #ffffff;
}

/* links */
a {
  color: #73b263;
}

/* mouse over link */
a:hover {
  color: #517d45;
}

/* Fonts */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40pt;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Bitter', serif;
}

p {
  font-family: 'Bitter', serif;
}

.shiny-input-container {
  color: #474747;
}

/* Container banner holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text for homepage banner */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


.navbar-right {
  float: right !important;
}

body {padding-top: 75px;}